
<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()"  >
    <mat-form-field color="accent">
      <mat-label  color="accent"  class="title">Purpose</mat-label>
        <mat-select [formControl]="selectedSubject" name="topic" panelClass="dropDown-seasons-panel">
          <mat-option *ngFor="let topic of subjects" [value]="topic.value" class="option">
            {{topic.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    <mat-form-field color="accent"  >
      <mat-label  class="title">Name</mat-label>
      <input matInput [formControl]="name" required class="text">
      <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <mat-label class="title">Email</mat-label>
      <input matInput [formControl]="email" placeholder="email@example.com" required class="text">
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
  
  
    <mat-form-field color="accent">
      <mat-label class="title">Message</mat-label>
      <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..." required class="text"></textarea>
      <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
      <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
    </mat-form-field>
    <button [disabled]="isLoading"  class="submit" type="submit">Submit</button>
    
    <div [class.spinner-box]="isLoading" class="spinner-box"> 
      <div [class.dot-stretching]="isLoading" class="dot-stretching"> </div>
    </div>
    <input [formControl]="honeypot" class="hidden" type="text" />
    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span class="response-text">{{responseMessage}}</span>
    </div>
</form>


