
@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

.header{
  background-color: $bg-body;
  width: 100%;
  max-width: 100%;
  padding: 0.2em;
}

.hamburger{
  color: #dbdada;
  display: none;
}

.responsive{
  display:none;
}

@media (max-width: 500px) {
  .nav-menu {
    flex-direction: column;
  }

  .collaspe{
    display: none !important;
  }

  .nav-all-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 1px;
  }

  .nav-menu--links :hover{
    background-color: #404145;
    color:#c2b9b3 !important;
    transition: .2s;
  }

  .nav-menu--links a{
    width:100%;
  }

  .nav-icons{
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: stretch;
  }

  .hamburger{
    flex-grow: 8;
    line-height:  33.54px;
    vertical-align: center;
    color: #888;
    font-size: 1.1em;
    display: table-cell;
    margin-right: 13px;
    margin-left: 13px;
    text-align: right;
  }

  .hamburger i:hover{
    cursor: pointer;
    color: #dbdada;
  }
}

.nav-menu {
  background-color: $bg-body;
  margin-top: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0%;
  border:0%;
}

.logo{
  text-decoration: none;
  margin: 7px 9px 7px;
  color: #888;
  font-size: 0.78em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: 13px;
}

.nav-all-items {
  display: flex;
  justify-content: space-between;
}

.nav-menu--links{
  background-color: $bg-body;
  margin-top: 0px;
  margin: 7px 9px 7px;
}

.nav-menu--links a{
  display: inline-block;
  font-size: 0.78em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #888;
}

.nav-menu--links:hover, .nav-menu--links a:hover, .logo:hover, .nav-menu--links:hover{
  color: #d3d0d0;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}
 
.active{
  color: #d3d0d0 !important;
}