<div class="section-about">
  <div class="container">
    <div class="page-heading"><h2>Nathanael Chwojko-Srawley</h2>
      <p>Mathematics Master's Student</p>
      <mat-divider class="divider"></mat-divider>
    </div> 

    <!-- using row, col from bootstrap to create pic + About section grid -->
    <div class="flexx about-info mb-60">
      <div>
        <div class="about-img">
          <img 
            src="././assets/img/nate-pic-cropped.png"
            alt="Profile Picture"
          />
        </div>
      </div>

      <div>
        <div>
          <h3 class="mb-20">Hi there!</h3>
          <p>I'm Nathanael Chwojko-Srawley. I am probably best known for my incessant want to learn anything and everything, and am
            always down for an interesting conversation. My current interests revolve a lot around mathematics.  It is not a stretch
            to say that my scope of interests has grown exponentially the more I study mathematics, my largest fields of interests
            being Algebraic Geometry, Differential Geometry, PDEs, and (most recently) Model Theory. I am currently most interested
            in pursuing research within Algebraic Geometry. (send me a <a routerLink="../Contact" style="text-decoration: none;"> message  </a>if you have any interesting references)!
            
            <br><br>In my free time, I love to read through various mathematics textbooks and papers, and write essays on new discoveries or intuitions I've gained (blog section coming soon!). I try to compile all
            I've learnt in a series called <em>Everything you need to know about</em> (EYNTKA) when I have time.
            <br><br>
            Links to my notes can be accessed <strong><a routerLink="../notes">here</a></strong>. 
          </p>'
        </div>

      </div>   
    </div>
  </div>
</div>