<div class="section-contact">
  <div class="container">
    
    <div class="page-heading">
      <h2>Contact</h2>
      <p>Discussions, Collaborations, Errata</p>
      <mat-divider class="divider"></mat-divider>
    </div>

    <div class="horizontal-flex" >
      <div class="notes-info">
        <div class="vertical-flex">
          <div style="display: inline-block">
            <h3 class="mb-20">Overview</h3>
            <p>Feel free to contact me if there is anything you would like to share or discuss, or if you would like to collaborate on any presentations or
              research. If there are any mistakes in my notes, or contributions you'd like
              to offer, feel free to report them to me here. </p>
          </div>
          <div class="img-div"> 
            <img src="././assets/img/stokes-theorem3.png">
          </div>
        </div>
      </div>
    <div style="margin-bottom:3em;"> <app-contact-form></app-contact-form> </div> 
  </div>  
</div>  

