<div class="section-miscellaneous">
    <div class="container">
        <div class="page-heading"><h2>Miscellaneous</h2>
            <p>My Blog</p>
            <mat-divider class="divider"></mat-divider>
        </div>

        <div class=row class="miscellaneous-info">
            <h3 class="mb-20">Overview</h3>
            <p>Here is my blog where I sporadically type my intuitions on various topics of interest to me.</p>
        </div>

        

        


    
    
    
    
    </div>
</div>