@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

@media (max-width:500px){
    .notes-info h3, h4  {  
      text-align:center;
    }
    .notes-info h4 {
        padding-top:0.5em;
        padding-bottom:0.5em;
        text-decoration: underline;
    }

    .disclaimer-click{
        display:inline-block !important;
    }


    .notes-info a:hover{
        background-color: transparent !important;
    }
    .notes-info h4:hover{
        background-color: #404145;
        transition:.2s;
    }
    // .flexx{
    //     flex-direction: column;
    // }
}

.disclaimer-click{
    display: none;
}

li {
    list-style: square;}

.notes-info h3 {
    color: $bg-secondary;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600; }

.notes-info h4 {
    color: $bg-secondary !important;
    letter-spacing: 0.7px;
    font-size: 23px;
    font-weight: 600;
    text-decoration: underline;
}

.notes-info a{
    color: $bg-secondary;
    transition: 0.4s;
    text-decoration: none;
    height:100%;

}

// .row{
//     // flex-direction: row;
//     display: table;
// }
// .cols{
//     display: table-cell;
// }

// .col-sm-9:hover{
//     background-color: #2a2b30 !important;
// }

// .col-sm-3:hover{
//     display: inline-block;
//     height:100%;
//     background-color: #404145 !important;
// }


.notes-info a:hover > * {
    color: #cbc9c8e7;
}

.notes-info a:hover{
    background-color: #404145;
}

.notes-info p {
    color: #bab0b0;
   }

.divider{
    border-top-color: #46423f;
    margin-bottom: 70px;
    margin-top:20px;
    border-top-width: 1.3px;
}

.divider-table{
    border-top-color:#4b4b4a;
    margin-bottom: 40px;
    margin-top:40px;
    border-top-width: 1.3px;
}