<div class="section-miscellaneous">
    <div class="container">
        <div class="page-heading"><h2>Miscellaneous</h2>
            <p>my Miscellaneous interests</p>
            <mat-divider class="divider"></mat-divider>
        </div>

        <div class=row class="miscellaneous-info">
            <h3 class="mb-20">Overview</h3>
            <p>Here are my various interests. Essays, desmos. Hence, each document title starts with "Everything You need To Know About" (EYNKTA). Currently, I'm keeping my notes up to date and creating new notes for other subjects. 
            <br><br>Disclaimer: Apologies for any typos in the notes! Feel free to send me any corrections. </p>
        </div>

        

        


    
    
    
    
    </div>
</div>